/* Handy reset for gutters (since use of gx-* and gy-* cascades to children) */
.gx-reset {
	--bs-gutter-x: initial;
}
.gy-reset {
	--bs-gutter-y: initial;
}

/* So SPA page transitions don't smoothly scroll to top */
html.normal-scroll {
	scroll-behavior: auto !important;
}

@import "~bootstrap/scss/bootstrap.scss";
@import '~swiper/swiper-bundle.css';
@import "~photoswipe/dist/photoswipe.css";
@import "~react-toastify/dist/ReactToastify.minimal.css";

.g-6, .gy-6 {
  --bs-gutter-y: 3.5rem;
}
.g-6, .gx-6 {
  --bs-gutter-x: 3.5rem;
}
